CenturyFinCorpApp/bin
CenturyFinCorpApp/obj
Common/bin
Common/obj
DataAccess/bin
DataAccess/obj
.vs
packages
/Common/Common.csproj.user
/TamilNaduElections/obj
/TamilNaduElections/bin/Debug
/CenturyFinCorpApp/CenturyFinCorpApp.csproj.user
/TamilNaduElections/bin/Release
/WebApplication1/bin
/WebApplication1/obj/Debug
