<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SourceFolder" value="will be dynamically updated in program.cs file"/>
    
    <add key="CustomerFile" value="customer.json"/>
    <add key="TransactionFile" value="transaction.json"/>
    
    <add key="InvestmentFile" value="Investment.json"/>
    <add key="BackupFolderPath" value="ClosedNotes"/>
    <add key="ExpenditureFile" value="Expenditure.json"/>
    <add key="InHandFile" value="InHand.json"/>

    
  </appSettings>
</configuration>


<!--

Amex - 22
BOA - 20
DCU - 10
India - 30
Mama - 3
Car - 5
Advance - 2
Salary Pending - 3
School - 0.5
Things - 1


Total - 50 Lacs
[Loan] - 30,000

-->