<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SourceFolder" value="will be dynamically updated in program.cs file"/>
    
    <add key="CustomerFile" value="customer.json"/>
    <add key="TransactionFile" value="transaction.json"/>
    
    <add key="InvestmentFile" value="Investment.json"/>
    <add key="BackupFolderPath" value="ClosedNotes"/>
    <add key="ExpenditureFile" value="Expenditure.json"/>
    <add key="InHandFile" value="InHand.json"/> 
    <add key="DailyTxn" value="DailyCollection.json"/>

    <add key="usingMenu" value="true"/>

    
  </appSettings>
</configuration>


<!--

Amex - 10k
BOA - 20k
DCU - 10k
                India - 30k (20 lacs)
Mama - 3k
Car - 5
              Advance - 2 (will be gone in flight ticket)
Salary Pending - 3k
School - 0.5k
Things - 1k
fl tkt - 2.5

Total - ~50k (33 Lacs)
[Loan] - 30,000

-->