<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4netConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net debug="true">

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\\project\\CenturyFin-develop\\CenturyFinCorpApp\\Logs\\CentFin_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>

    <appender name="chkTxn" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="D:\\project\\CenturyFin-develop\\CenturyFinCorpApp\\Logs\\ValidateTxn_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>

    <logger name="MyApplicationDebugLog">
      <level value="DEBUG" />
      <appender-ref ref="chkTxn" />
    </logger>

    <!--<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Projects\CenturyFin\CenturyFinCorpApp\Logs\CentFin_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
      </layout>
    </appender>
   <root>
        <level value="DEBUG" />
        <appender-ref ref="RollingLogFileAppenderOutput" />
    </root>-->
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SourceFolder" value="will be dynamically updated in program.cs file" />

    <add key="CustomerFile" value="customer.json" />
    <add key="TopupCustomerFile" value="topupCustomer.json" />
    <add key="TransactionFile" value="transaction.json" />

    <add key="InvestmentFile" value="Investment.json" />
    <add key="ClosedNotesFile" value="ClosedNotes" />
    <add key="DailyBatchFile" value="DailyBatchFile" />
    <add key="ExpenditureFile" value="Expenditure.json" />
    <add key="InHandAndBankFile" value="InHandAndBank.json" />
    <add key="DailyTxn" value="DailyCollection.json" />
    <add key="CollectionPerDay" value="CollectionPerDay.json" />
    <add key="OutstandingFile" value="PersonalOutstanding.json" />
    <add key="PetrolFile" value="Petrol.json" />
    <add key="DetailedAmountFile" value="DetailedAmount.json" />
    <add key="usingMenu" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.42.0.0" newVersion="1.42.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
